.confirm-dialogue
  .confirm-dialogue-header
    position relative
    height 80px
    background-color: #ECF0F1
    color: #2C3E50

    i
      font-size 2em
  .confirm-dialogue-body
    padding 1em
