body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
  header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
    .logo(style='max-width: 33.33%;')
      img(src='#{logo}')
  .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
    h1(style='font-family: Palatino;font-size: 1.5em;') Hi, #{name}
    p Your password was recently changed. If you did not request this, please
    p.text-small
      a(href='mailto:#{returnEmail}?subject=I did not change my password&body=Someone unauthorized changed my password. Can you send me a reset link?') let us know
      
