// inject css
@import("./clean-blog.css")
@import("../components/confirm/confirm.styl")
@import("../components/foot/foot.styl")
@import("../components/heading/heading.styl")
@import("../components/modal/modal.styl")
@import("../components/navigation/navigation.styl")
// end inject css

h1,
h2,
h3,
h4
h5,
h6
a,
button {
  font-family: 'Lato', sans-serif !important;
}

body {
  font-family: 'Open Sans', sans-serif !important
}
