
.login-form-container {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 17px -8px rgba(0,0,0,0.66);
  font-family: sans-serif;
  border-radius: 3px;
}
.login-form-header {
  position: relative;
  padding: 1em;
  border-bottom: 1px solid #000;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #34495e;
  z-index: 3;
}
.login-form-title {
  color: #ebebeb;
  font-size: 1.5em;
}
.login-form-add-account-button {
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: #3498db;
  transform: translateY(-50%);
  border-radius: 10em;
  width: 3.5em;
  height: 3.5em;
  color: #ebebeb;
  box-shadow: 5px 5px 17px -8px rgba(0,0,0,0.66);
  z-index: 3em;
}
.login-form-back-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  font-size: 2em;
  color: #ebebeb;
  padding: 1em;
  cursor: pointer;
}
.login-form-body {
  padding: 1em;
}
.login-form-group {
  position: relative;
}
.login-form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  padding-left: 2em;
  font-size: 1.1em;
}
.login-form-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  font-size: 1.2em;
  color: #3498db;
  transform: translateY(-50%);
}
.login-form-warning-text {
  color: #808080;
  text-align: center;
  margin-top: 0.5em;
  padding: 0 0.5em;
}
.login-form-third-column {
  border-radius: 10em;
  display: inline-block;
  width: 33.33%;
  margin-right: -0.25em;
  position: relative;
}
.login-form-social-logins {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.login-form-social-login-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #ebebeb;
  border-radius: 10em;
  font-size: 1.5em;
  width: 2.2em;
  height: 2.2em;
  box-sizing: border-box;
  cursor: pointer;
}
.login-form-social-login-icon i,
.login-form-add-account-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form-google-icon {
  background-color: #de4b39;
}
.login-form-facebook-icon {
  background-color: #3a569b;
}
.login-form-twitter-icon {
  background-color: #50abf1;
}
.login-form-login-button,
.login-form-change-email-btn,
.login-form-change-password-btn,
.login-form-reset-password-btn {
  background-color: #3498db;
  color: #ebebeb;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}
.login-form-forgot-password {
  text-align: center;
  color: #808080;
  padding: 0.5em;
  margin-top: 0.5em;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.login-form-forgot-password:hover:after {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  content: "\A0";
  display: block;
  margin: 0 4em;
  border-top: 2px solid #ebebeb;
}
.login-form-add-account-button:hover,
.login-form-login-button:hover {
  background-color: #2980b9;
  cursor: pointer;
}
/*.change-email-form,
.change-password-form,
.reset-password-form {
	display: none;
}*/

.confirm-dialogue .confirm-dialogue-header {
  position: relative;
  height: 80px;
  background-color: #ecf0f1;
  color: #2c3e50;
}
.confirm-dialogue .confirm-dialogue-header i {
  font-size: 2em;
}
.confirm-dialogue .confirm-dialogue-body {
  padding: 1em;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.3s ease;
}
.modal-area {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 40px;
  right: 40px;
}
.modal-container {
  width: 100%;
  max-height: 88%;
  overflow-y: scroll;
  margin: 40px auto 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
}
.text-right {
  text-align: right;
}
.form-label {
  display: block;
  margin-bottom: 1em;
}
.form-label > .form-control {
  margin-top: 0.5em;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  line-height: 1.5;
  border: 1px solid #ddd;
}
.modal-enter,
.modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
