// inject css
require("./clean-blog.css")
require("../components/user-row/user-row.styl")
require("../../shared/components/confirm/confirm.styl")
require("../../shared/components/foot/foot.styl")
require("../../shared/components/heading/heading.styl")
require("../../shared/components/modal/modal.styl")
require("../../shared/components/navigation/navigation.styl")
// end inject css

h1,
h2,
h3,
h4
h5,
h6
a,
button {
  font-family: 'Lato', sans-serif !important;
}

body {
  font-family: 'Open Sans', sans-serif !important
}
