// inject css
@import "./clean-blog.css"
@import "../components/user-row/user-row.styl"
@import "../../shared/components/confirm/confirm.styl"
@import "../../shared/components/foot/foot.styl"
@import "../../shared/components/heading/heading.styl"
@import "../../shared/components/modal/modal.styl"
@import "../../shared/components/navigation/navigation.styl"
// end inject css

h1,
h2,
h3,
h4
h5,
h6
a,
button {
  font-family: 'Lato', sans-serif !important;
}

body {
  font-family: 'Open Sans', sans-serif !important
}
